/* line 1, scss/partials/_desktop.scss */
#wrapper {
  width: 100%;
  position: relative;
  top: 60px;
}

/* line 6, scss/partials/_desktop.scss */
h1 {
  font-size: 2.5em;
}

/* line 7, scss/partials/_desktop.scss */
h2 {
  font-size: 2em;
}

/* line 8, scss/partials/_desktop.scss */
h3 {
  font-size: 1.5em;
}

/* line 9, scss/partials/_desktop.scss */
h4 {
  font-size: 1em;
}

/* line 13, scss/partials/_desktop.scss */
.inner {
  *zoom: 1;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.inner:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, scss/partials/_desktop.scss */
.button, .more-button, .navigation ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #9d1c35;
  text-align: center;
}
/* line 22, scss/partials/_desktop.scss */
.button a, .more-button a, .navigation ul li a {
  color: #FFF;
}

/* line 26, scss/partials/_desktop.scss */
.more-button {
  width: auto;
  float: right;
  margin-top: 1em;
}
/* line 31, scss/partials/_desktop.scss */
.more-button a {
  line-height: 2;
  margin: 0.5em;
}
/* line 34, scss/partials/_desktop.scss */
.more-button a:after {
  content: '\f138';
  font-family: 'FontAwesome';
  margin-left: 10px;
}

/* line 41, scss/partials/_desktop.scss */
#header {
  width: 100%;
  height: 400px;
  background: url("imgs/uat.jpg");
  background-size: cover;
}
/* line 46, scss/partials/_desktop.scss */
#header #branding {
  height: 400px;
}
/* line 48, scss/partials/_desktop.scss */
#header #branding #site-title {
  *zoom: 1;
  position: relative;
  top: 50px;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header #branding #site-title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 52, scss/partials/_desktop.scss */
#header #branding #site-title img {
  float: left;
}
/* line 55, scss/partials/_desktop.scss */
#header #branding #site-title a {
  font-family: 'AlternateGotNo3D';
  color: #F0F0F0;
  font-size: 5rem;
  text-decoration: none;
  float: left;
}
/* line 63, scss/partials/_desktop.scss */
#header #branding #site-description {
  display: block;
  color: #FFF;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  opacity: .75;
  width: auto;
  position: relative;
  top: 50px;
}

/* line 76, scss/partials/_desktop.scss */
#menu {
  *zoom: 1;
  width: 100%;
  height: 3.750em;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: #555;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 84, scss/partials/_desktop.scss */
#menu .menu-main-menu-container {
  margin: 0 auto;
  height: 3.750rem;
  float: left;
}
/* line 88, scss/partials/_desktop.scss */
#menu .menu-main-menu-container #menu-main-menu {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#menu .menu-main-menu-container #menu-main-menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 93, scss/partials/_desktop.scss */
#menu .menu-main-menu-container #menu-main-menu li {
  float: left;
  padding: 0 1em;
}
/* line 96, scss/partials/_desktop.scss */
#menu .menu-main-menu-container #menu-main-menu li a {
  font-family: 'AlternateGotNo3D';
  color: #F2F2F2;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 3.75rem;
}
/* line 107, scss/partials/_desktop.scss */
#menu #search {
  float: right;
  width: auto;
  display: inline-block;
  position: relative;
}
/* line 112, scss/partials/_desktop.scss */
#menu #search .fa-search {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 1.25em;
  line-height: 3.750rem;
  color: #CCC;
}
/* line 120, scss/partials/_desktop.scss */
#menu #search #s {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  margin: 15px 0;
  width: 200px;
  padding-left: 30px;
}

/* line 129, scss/partials/_desktop.scss */
#content {
  padding: 2.5em;
  background-color: #FFF;
  border-left: solid 1px #F2F2F2;
}

/* line 134, scss/partials/_desktop.scss */
.col-2 {
  float: none;
  vertical-align: top;
  width: 70%;
  display: table-cell;
}

/* line 140, scss/partials/_desktop.scss */
.col-1 {
  width: 100%;
  float: left;
}

/* line 145, scss/partials/_desktop.scss */
.homepage .post, .archive .post, .search .post {
  margin-top: 2em;
  border-top: solid 1px #CCC;
}
/* line 146, scss/partials/_desktop.scss */
.homepage .post h2, .archive .post h2, .search .post h2 {
  margin-top: 1em;
}
/* line 149, scss/partials/_desktop.scss */
.homepage .post .postdate, .archive .post .postdate, .search .post .postdate {
  display: block;
  text-align: center;
  background-color: #CCC;
  color: #555;
  width: 130px;
  float: right;
  position: relative;
  top: -2em;
}
/* line 158, scss/partials/_desktop.scss */
.homepage .post .postdate:before, .archive .post .postdate:before, .search .post .postdate:before {
  content: '\f073';
  font-family: 'FontAwesome';
  line-height: 25px;
  margin-right: 5px;
}
/* line 165, scss/partials/_desktop.scss */
.homepage .post footer.postmetadata, .archive .post footer.postmetadata, .search .post footer.postmetadata {
  *zoom: 1;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.homepage .post footer.postmetadata:after, .archive .post footer.postmetadata:after, .search .post footer.postmetadata:after {
  content: "";
  display: table;
  clear: both;
}
/* line 167, scss/partials/_desktop.scss */
.homepage .post footer.postmetadata .fa, .archive .post footer.postmetadata .fa, .search .post footer.postmetadata .fa {
  color: #555;
  margin-right: 5px;
}
/* line 168, scss/partials/_desktop.scss */
.homepage .post footer.postmetadata .author, .homepage .post footer.postmetadata .categories, .homepage .post footer.postmetadata .tags, .archive .post footer.postmetadata .author, .archive .post footer.postmetadata .categories, .archive .post footer.postmetadata .tags, .search .post footer.postmetadata .author, .search .post footer.postmetadata .categories, .search .post footer.postmetadata .tags {
  float: left;
  margin-right: 1em;
}

/* line 175, scss/partials/_desktop.scss */
.navigation {
  margin: 1em 0;
  float: right;
}
/* line 178, scss/partials/_desktop.scss */
.navigation ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.navigation ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 183, scss/partials/_desktop.scss */
.navigation ul li {
  background-color: #D04F68;
  color: #FFF;
  float: left;
  display: block;
  padding: 0.5em;
  margin: 0 0.25em;
}
/* line 192, scss/partials/_desktop.scss */
.navigation ul li.active {
  background-color: #9d1c35;
}

/* line 197, scss/partials/_desktop.scss */
#sidebar {
  float: none;
  vertical-align: top;
  display: table-cell;
  width: 30%;
  background-color: #F2F2F2;
  padding: 2.5em;
}
/* line 204, scss/partials/_desktop.scss */
#sidebar .widget-container {
  margin-bottom: 2em;
}
/* line 206, scss/partials/_desktop.scss */
#sidebar #categories-2 ul, #sidebar #nav_menu-2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 210, scss/partials/_desktop.scss */
#sidebar #categories-2 ul li, #sidebar #nav_menu-2 ul li {
  border-top: solid 1px #CCC;
  line-height: 2em;
}
/* line 213, scss/partials/_desktop.scss */
#sidebar #categories-2 ul li:first-child, #sidebar #nav_menu-2 ul li:first-child {
  border: none;
}
/* line 219, scss/partials/_desktop.scss */
#sidebar #text-2 {
  margin-bottom: 3em;
}
/* line 223, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post {
  margin: 0;
  font-size: 0.875rem;
}
/* line 226, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post .entry-date {
  display: none;
}
/* line 227, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post .atw-entry-meta-icons .by-author {
  background: none;
  float: right;
  margin-left: 0;
}
/* line 231, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post .atw-entry-meta-icons .by-author .author {
  position: relative;
  top: 190px;
}
/* line 236, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post p {
  margin: 0;
  padding: 0;
}
/* line 239, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post p:before {
  content: '\f10d';
  font-family: FontAwesome;
  color: #CCC;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
/* line 247, scss/partials/_desktop.scss */
#sidebar #atwkslider-whyuat-1 .slide-post p:after {
  content: '\f10e';
  font-family: FontAwesome;
  color: #CCC;
  display: inline-block;
  margin-left: 5px;
}

/* line 259, scss/partials/_desktop.scss */
#why-uat .entry {
  *zoom: 1;
  border-bottom: solid 1px #CCC;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#why-uat .entry:after {
  content: "";
  display: table;
  clear: both;
}
/* line 264, scss/partials/_desktop.scss */
#why-uat .entry .entry-photo {
  float: left;
  width: 10%;
}
/* line 268, scss/partials/_desktop.scss */
#why-uat .entry .entry-content {
  *zoom: 1;
  float: left;
  width: 90%;
  padding: 1em;
}
/* line 38, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#why-uat .entry .entry-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 273, scss/partials/_desktop.scss */
#why-uat .entry .entry-content .entry-author {
  float: right;
  display: block;
}
/* line 278, scss/partials/_desktop.scss */
#why-uat .entry .entry-content p:before {
  content: '\f10d';
  font-family: FontAwesome;
  color: #CCC;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
/* line 286, scss/partials/_desktop.scss */
#why-uat .entry .entry-content p:after {
  content: '\f10e';
  font-family: FontAwesome;
  color: #CCC;
  display: inline-block;
  margin-left: 5px;
}

/* line 3, scss/partials/_screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 7, scss/partials/_screen.scss */
body, html {
  padding: 0;
  margin: 0;
  background: url(imgs/grey.png);
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}

@font-face {
  font-family: 'AlternateGotNo3D';
  src: url("fonts/AlternateGotNo3D/alternategotno3d-webfont.eot");
  src: url("fonts/AlternateGotNo3D/alternategotno3d-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/AlternateGotNo3D/alternategotno3d-webfont.woff") format("woff"), url("fonts/AlternateGotNo3D/alternategotno3d-webfont.ttf") format("truetype"), url("fonts/AlternateGotNo3D/alternategotno3d-webfont.svg#alternategotno3dregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, scss/partials/_screen.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1;
  padding-top: 0;
  font-family: 'AlternateGotNo3D';
}
/* line 34, scss/partials/_screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: 'AlternateGotNo3D';
}

/* line 38, scss/partials/_screen.scss */
.screen-reader-text {
  display: none;
}

/* line 41, scss/partials/_screen.scss */
a {
  color: #9d1c35;
  text-decoration: none;
}
